name: 'test-1'
on: 
  issue_comment:
    types:
      - created

jobs:
  build:
    if: github.event.comment.body == '!github test'
    runs-on: ubuntu-latest
    steps:
    - name: comment
      uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: 'Message that will be displayed on users first issue'
        pr-message: 'Message that will be displayed on users first pull request'
