name: 'change'
on:
  push:
    paths:
      - 'sampleA/**'

jobs:
  change:
    runs-on: ubuntu-latest
    steps:
    - name: time logger
      run: |
        echo "CURRENT_DATETIME=$(date +'%Y-%m-%d %H:%M:%S')" >> sample.log
