name: 'Greeting'
on:
  issue_comment:
    types:
      - "created"

jobs:
  greeting:
    # if: github.event.comment.body == '!github test'
    runs-on: ubuntu-latest
    steps:
    - name: Add comment
      uses: peter-evans/create-or-update-comment@a35cf36e5301d70b76f316e867e7788a55a31dae
      with:
        issue-number: ${{ github.event.issue.number }}
        body: |
          test
